@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --black: #2C2C34;
    --red: #E06B74;
    --green: #98C379;
    --yellow: #E5C07A;
    --blue: #62AEEF;
    --cyan: #55B6C2;
    --white: #ABB2BF;
    --white2: #787d86;
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#container {
    display: flex;
    font-family: 'JetBrains Mono', monospace;
    color: var(--white);
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

#container h1 {
    text-align: center;
    margin: 0;
}
#container h2 {
    text-align: center;
    font-weight: 500;
    color: var(--white2); 
}

span {
    color: var(--cyan);
}

#container hr {
    width: 100%;
    border: 1px solid var(--red);
}

#container p {
    padding: 2vh 4vw;
    text-align: justify;
}

#container img {
    max-width: 50%;
    height: auto;
}

#container video {
    max-width: 50%;
    height: auto;
}

footer {
    margin: .75em;
}

footer a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s;
}


footer a:hover {
    color: var(--cyan);
}

@media (max-width: 768px) {
    #container p {
        padding: 2vh 2vw;
    }
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
::selection {
    color: var(--black);
    background: var(--red);
  }